.wrapper {
    padding:2px;
    border:1px solid #000;
    background-color:antiquewhite;
    min-width: 380px;
    max-width:: width:380px;
    border-radius: 15px;
}
#header {
    border:1px solid #000;
    background-color: aquamarine;
    font-size: 25px;
    padding-top: 15px;
    border-radius: 15px 15px 0 0;
}
#logo {
    height: 160;
    display: block;
    margin-left: auto; 
    margin-right: auto;
}
#zagol {
    border: 0px solid #fff;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:rgba(0,0,0,0.8);
    font: 68px sans-serif;
}
#content {
    border:1px solid #000;
    padding: 5px;
    margin-top: 5px;
    background-color: burlywood;
}

.parag {
    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
    font: 48px sans-serif;
}
#footer {
    border: 1px solid #000;
    border-radius: 0 0 15px 15px;
    padding: 5px;
    margin-top: 5px;
    background: linear-gradient(to right, #F6EFD2 0%, #CEAD78 50%, #F6EFD2 100%);
}
© 2020 GitHub, Inc.
